html, body {
	margin: 0;
	padding: 0;
    overflow: hidden;
}
body {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	color: lightgray;
	background-color: black;
}

input {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	background-color: black;
	color: lightgray;
	border: 1px solid #505050;
}

strong {
	color: white;
}

#output {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: calc(100vh - 68px);
	padding: 4px;
	margin-bottom: 20px;
}

.output-container {
	margin: 4px;
	padding: 4px;
}

.input-container {
	height: 20px;
	text-align: left;
	padding: 4px;
	max-width: 100%;
	margin: 0;
	margin-bottom: 4px;
}

.input-container input[type="text"] {
	transition: 0.5s;
	max-width: calc(100% - 90px);
	width: 87%;
}

.input-container input[type="text"]:focus {
	outline: none;
	border-color: lightgray;
    box-shadow: 0 0 10px lightgray;
	transition: 0.5s;
}

.input-container input[type="submit"] {
	min-width: 70px;
	width: 10%;
	transition: 0.5s;
}

.input-container input[type="submit"]:hover {
	background-color: lightgray;
	color: black;
	cursor: pointer;
	border-color: lightgray;
    box-shadow: 0 0 10px lightgray;
	transition: 0.5s;
}

.line {
	display: block;
}