html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	color: lightgray;
	background-color: black;

}

input {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	background-color: black;
	color: lightgray;
	border: 1px solid #505050;
}

button {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	background-color: black;
	color: lightgray;
	border: 1px solid #505050;
}

strong {
	color: white;
}
.main-container {
	display: flex;
	flex-direction: column;
}

.output-container {
	height: calc(100vh - 40px);
	min-height: 60px;
}

.input-container {
	height: 20px;
	text-align: left;
	padding: 4px;
}

.input-container input[type="text"] {
	width: calc(100vw - 160px);
	min-width: 200px
}
.input-container input[type="submit"] {
	width: 120px;
}

.line {
	display: block;
}

#output {
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	padding: 8px;
}